<!DOCTYPE html>
<html lang="fr">
<head>
  <title>MPB - Débutant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bookmakers.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-expand-lg navbar-custom">
  <div class="container" id="container-main">
      
  <div class="navbar-header">
     <img class="logo" src="img/logo.jpg" align="left"> <a class="navbar-brand" href="/index">  <text> monPetitBet</text>
    
      <style type="text/css">
text {
  color: darkgrey;
  font-size: 20px;
  text-align: center;
}
</style> 

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mpbNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
   <div class="collapse navbar-collapse" id="mpbNavBar">
    <ul class="nav navbar-nav text-center">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Bookmakers <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Betclic</a></li>
        <li><a href="#">Winamax</a></li>
        <li><a href="#">Unibet</a></li>
        <li><a href="#">Parions Sport</a></li>
        <li><a href="#">Bwin</a></li>
        <li><a href="#">Zebet</a></li>
        <li><a href="#">PMU</a></li>
        <li><a href="#">PokerStars</a></li>
        <li><a href="#">France-Paris</a></li>
        <li><a href="#">Vbet</a></li>
        <li><a href="#">Netbet</a></li>
        <li><a href="#">Genybet</a></li>

      </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Débutant <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="lesSports.html" >Les Sports</a></li>
        <li><a href="unparissportif.html">Les Paris Sportifs</a></li>
        <li><a href="Qu'est-cequ'unbookmakers.html">Un Bookmaker</a></li>
      </ul>
      <li><a href="#">Contact</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Inscription</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
    </ul>
  </div>
  </div>
</nav>

    <header class="header">
    <div class="container text-center">
      <img class="bookmakers" src="img/lessports.jpg" Width ="100% auto">
    </div>
  </header>

<section class="py-5">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="lesSports.html" target="_blank"><h4>Les Différents Sports</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="unparissportif.html" target="_blank"><h4> Les paris Sportifs</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Qu'est-cequ'unbookmakers.html" target="_blank" ><h4>Qu'est-ce qu'un Bookmakers?</h4></a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content mt-3">
  
          <div class="tab-pane active" id="Privacy-Policy" role="tabpanel">
            <p class="card-text">
              </p><div class="card">
                <div class="card-body">
                  
<p>Avant de choisir une côte, il faut selectionner un sport et une compétition.</br>
Le choix est important, car les bookmakers vont en privilégier,certains  afin mettre des cotes intéressantes pour attirer de nouveaux parieurs, et ainsi augmenter votre rendement en cas de victoire.</br>
Le sport qui génère la moitié du volume total de mises,  est le football.</br>
Avec près de 2.75 milliards d’euros générés en 2019,il est largement en tête avec un hausse de 16% par rapport à 2018 . Cette hausse est d’autant remarquable car l’année précédente, avait vu la consécration de la France championne du monde, ce qui avait fortement boosté les paris.</br></br>

Le tennis est en 2ème position avec ses 1.155 milliard d’euros soit une ascension de 46% par rapport à 2018.</br>
On retrouve ensuite le basket, qui a fait 596 millions d’euros en 2019 (+56% par rapport à 2018),puis  le rugby avec 137 millions d’euros (+61%), le hockey sur glace avec 115 millions d’euros (+24%), le volley avec 99 millions d’euros (+57%),.</br>
C’est donc pour les paris sportifs, une période hausse globale (+30% en 2019 par rapport à 2018), assocíé à ine augmentation des nouveaux arrivant de (+7%), c’est peut-être votre moment de profiter de tout ça grâce à <h4>"MonPetitBet"!</h4>
</p>




                </div>
              </div>
          </div>
  
          <div class="tab-pane" id="Activer_mon_bonus" role="tabpanel">
            <p class="card-text">
              </p><div class="card">
                <div class="card-body">
<h3>Offre de Bienvenue</h3>
<p></br>Le remboursement se fait jusqu’à 100e maximum pour le 1er pari éligible et dans le cas d’une défaite, le tout sous forme de freebets ou récupérable sur le compte bancaire.</br>
</br><h4>Conditions spécifiques :</h4></br>
• 1er dépôt de 15e minimum.</br>
• L’offre de bienvenue fonctionne sur n’importe quel sport, sur un pari simple ou combiné.</br>
• Le 1er pari doit être engagé dans les 30 jours suivants l’inscription.
• Aucune cote minimale n’est imposée.</br>
• Le remboursement est effectué en un seul versement, dans un délai moyen de 3 jours après la validation de votre compte joueur.</br>
• Il est possible de récupérer la somme sur votre compte bancaire sans condition, il suffit d’envoyer un mail au support Winamax.</br>
• L’offre promotionnelle n’est valable qu’une fois par adresse IP, foyer et ordinateur afin d’éviter quelconques fraudes.</br>
<h4>Exemple :</h4> (pari remboursé avec un 1er dépôt de 50e)</br></br>
1.  Inscrivez-vous sur le site winamax</br>
2.  Versez vos 50e sur votre compte </br>
3.  Vus décidez de miser ces 50e sur un match nul entre le PSG et Nice (la cote est à 4.00)</br>
4.  S’il y a match nul comme vous aviez dit : vous récoltez 50x4=200e, s’il y a victoire d’une équipe ou de l’autre : vous avez le droit au remboursement en freebets, qui attend la finalisation de votre inscription.</br>
5.  Validez votre compte Winamax</br>
6.  Winamax vous restitue vos 50e sur votre compte (sous 72h)</br>
7.  Vous pouvez parier de nouveau ou demander un virement de ces 50e sur votre compte bancaire.
</p>
                    
                  </ul>
                </div>
              </div>
            <p></p>
          </div>
  
          <div class="tab-pane" id="Reglements" role="tabpanel">
            <p class="card-text">
            </p><div class="card">
              <div class="card-body">
              <h3>Offre de Parainnage</h3>
              <p></br><h4>Conditions :</h4></br>
<h4>• Pour le parrain : </h4></br>
1.  Posséder un compte Winamax et avoir déjà effectué un premier dépôt.</br> 
2.  Aller sur la plage parrainage Winamax.</br>
3.  Choisissez une méthode pour recruter des filleuls et attendez que votre filleul s’inscrive sur le site via votre lien.</br>
4.  Une fois que votre filleul aura terminé son inscription et effectué son 1er dépôt, vous recevrez 10e bonus sur votre compte.</br></br>
<h4>• Pour le filleul : </h4></br>
1.  Ne jamais avoir ouvert un compte sur Winamax. Cliquez sur le lien d’inscription de votre parrain et créez un compte.</br>
2.  Effectuez un 1er dépôt de 15e minimum afin que le parrain soit validé.</br>
3.  Le filleul et le parrain sont ensuite crédité de 10e chacun via le bonus parrainage.</br>
Ce bonus ne peut pas être encaissé directement sur le compte en banque et doit être rejoué impérativement. Voldemort, contrairement aux freebets, le montant de la mise n’est pas déduit lorsque vous pariez ce bonus.
</p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




</body>

