<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<!-- Ici on met les articles des bookmakers -->

<div th:fragment="winamax" class="bookmakers">
    <h2>Offre de Bienvenue</h2>
    <p></p>
    <p class="sub">Le remboursement se fait jusqu'à 100e maximum pour le 1er pari éligible et dans le cas d'une défaite, le tout sous forme de freebets ou récupérable sur le compte bancaire. </p>
    <p class="sub">Conditions spécifiques : </p>
    <p></p>
    <p>-1er dépôt de 15e minimum. </p>
    <p>-L'offre de bienvenue fonctionne sur n'importe quel sport, sur un pari simple ou combiné. </p>
    <p>-Le 1er pari doit être engagé dans les 30 jours suivants l'inscription. </p>
    <p>-Aucune cote minimale n'est imposée. </p>
    <p>-Le remboursement est effectué en un seul versement, dans un délai moyen de 3 jours après la validation de votre compte joueur. </p>
    <p>-Il est possible de récupérer la somme sur votre compte bancaire sans condition, il suffit d'envoyer un mail au support Winamax. </p>
    <p>-L'offre promotionnelle n'est valable qu'une fois par adresse IP, foyer et ordinateur afin d'éviter quelconques fraudes. </p>
    <p></p>
    <p class ="sub">Exemple : (pari remboursé avec un 1er dépôt de 50e)</p>
    <p>1. Inscrivez-vous sur le site winamax</p>
    <p>2.	Deposez vos 50e sur votre compte </p>
    <p>3.	Vous décidez de miser ces 50e sur un match nul entre le PSG et Nice (la cote est à 4.00)</p>
    <p>4.	S'il y a match nul comme vous aviez dit : vous récoltez 50x4=200e, s'il y a victoire d'une équipe ou de l'autre : vous avez le droit au remboursement en freebets, qui attend la finalisation de votre inscription. </p>
    <p>5.	Validez votre compte Winamax</p>
    <p>6.	Winamax vous restitue vos 50e sur votre compte (sous 72h)</p>
    <p>7.	Vous pouvez parier de nouveau ou demander un virement de ces 50e sur votre compte bancaire.</p>


</div>

</html>