<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<!-- Ici on met les articles des bookmakers -->
<div th:fragment="winamax" class="bookmakers">
    <h2>Offre de Parrainage</h2>
    <p></p>
    <p class="sub">Ce bonus ne peut pas être encaissé directement sur le compte en banque et doit être rejoué impérativement. </p>
    <p>Contrairement aux freebets, le montant de la mise n'est pas déduit lorsque vous pariez ce bonus. </p>
    <p></p>
    <p class="sub">Pour le parrain : </p>
    <p>1.	Vous devez posséder un compte Winamax et avoir déjà effectué un premier dépôt. </p>
    <p>2. 	Aller sur la plage parrainage Winamax. </p>
    <p>3. 	Choisissez une méthode pour recruter des filleuls et attendez que votre filleul s'inscrive sur le site via votre lien. </p>
    <p>4. 	Une fois que votre filleul aura terminé son inscription et effectué son 1er dépôt, vous recevrez 10e bonus sur votre compte. </p>
    <p></p>
    <p class="sub">Pour le filleul : </p>
    <p>1. 	Ne jamais avoir ouvert un compte sur Winamax. Cliquez sur le lien d'inscription de votre parrain et créez un compte. </p>
    <p>2. 	Effectuez un 1er dépôt de 15e minimum afin que le parrain soit validé. </p>
    <p>3. 	Le filleul et le parrain sont ensuite crédité de 10e chacun via le bonus parrainage. </p>



</div>


</html>