<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<!-- Ici on met les articles des bookmakers -->


<div th:fragment="winamax">
    <h2>Présentation</h2>
    <p></p>
    <h3>En bref :</h3>
    <p class="sub"> Winamax est une société française installée à Paris et leader du poker en ligne dans l'hexagone. </p>
    <p> Elle compte parmi ses actionnaires des noms prestigieux comme Patrick Bruel et Marc Simoncini. </p>
    <p> La société a obtenu un agrément ARJEL (Autorité de Régulation des Jeux En Ligne) pour les paris sportifs en mai 2014 et est désormais un acteur de premier plan sur ce marché. </p>
    <p>L'opérateur est un sponsor de la Ligue 1 et il est associé avec le club de foot du LOSC (Lille) pour la saison 2020-2021. </p>
    <h3>Ses atouts décisifs :</h3>
    <p>-Les meilleures côtes du marché français </p>
    <p>-1er pari remboursé cash jusqu'à 100e </p>
    <p></p>
    <h3>Bonus :</h3>
    <p>Ce bookmaker a particulièrement soigné son offre pour les nouveaux joueurs. </p>
    <p>Il s'agit d'une promo classique de type "1er pari remboursé si perdu" mais le mot "remboursé" n'est ici pas excessif car vous pouvez récupérer votre 1ère mise perdante sur votre compte en banque sans aucune condition. </p>
    <p>Une fois cette prime épuisée, d'autres avantages séduisants vous attendent comme des concours hebdomadaires, un programme de fidélité motivant et surtout les innombrables freebets déversés sur Twitter. </p>
    <p></p>
    <h3>Paiement :</h3>
    <p>Pour créditer votre compte, Winamax dispose de nombreux modes de transaction dont Paypal et les règlements par carte Visa ou Mastercard n'occasionnent aucun frais. </p>
    <p>Depuis 2017, il est même possible d'approvisionner votre compte via un système de code barre : accédez à votre code barre Winamax depuis votre compte joueur, présentez-le à un buraliste partenaire à l'aide de votre smartphone et payez le montant voulu en espèces. </p>
    <p></p>
    <h3>Ergonomie :</h3>
    <p>L'inscription et vos premiers pas sur le site ne réservent aucune mauvaise surprise. </p>
    <p>L'interface est sobre et efficace ce qui permet de prendre ses marques rapidement. </p>
    <p>L'ensemble est visuellement un peu vide (peu d'images ou d'illustrations) mais on gagne ainsi en vitesse de chargement. </p>
</div>

</html>