<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connect - MPB</title>
    <link href="css/connexion.css" rel="stylesheet" type="text/css">
</head>


<body>
	<section id="main">
		<h1>Connexion</h1>
		<form method="POST" action="connect">
        <h3>Pseudo</h3>
        <input id="boite" type="text" name="pseudo" /><br />
        <h3>Mot de passe</h3>
        <input id="boite" type="password" name="mdp" /><br />
        <input id="connexion" type="submit" value="Connexion"/>
        </form>
	</section>

	<div>
		<a href="register">Pas encore inscrit ? Cliquez ici</a>
	</div>

	<div id="retour">
		<a id="retour" href="index"> &#8592 Retour à la page d'accueil </a>
	</div>
</body>


</html>