<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register - MPB</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="css/home.css" rel="stylesheet" type="text/css">
    <link href="css/reg.css" rel="stylesheet" type="text/css">
</head>

<body>
<nav th:insert="~{base ::menu}" class="navbar navbar-inverse navbar-expand-md"></nav>

<!--- Header Commun à créer dans Base et insérer ici --->

<header th:replace="~{base ::headercommon('Inscription')}" class="art1"></header>

    <div class="container">
        <h3 th:if="${errorMsg!=null}" th:text="${errorMsg}" class="error"></h3>
		<form method="POST" action="register">
		<h3 class="register">Prénom</h3>
        <p><input class="boite" type="text" name="prenom"></p>
        <h3 class="register">Nom</h3>
        <p><input class="boite" type="text" name="nom"></p>
        <p><h3 class="register">Email</h3>
        <p><input class="boite" type="text" name="email"></p>
        <h3 class="register">Pseudo</h3>
        <p><input class="boite" type="text" name="pseudo"></p>
        <h3 class="register">Mot de passe</h3>
        <p><input class="boite" type="password" name="mdp"></p>
        <h3 class="register">Confirmation du mot de passe</h3>
        <p><input class="boite" type="password" name="mdp2" ></p>
        <p></p>
        <p><input id="connexion" type="submit" value="Inscription"></p>
        </form>

	
	<div>
		<a href="connect">Déjà inscrit ? Cliquez ici</a>
	</div>

	<div class="retour">
		<a class="retour" href="index"> &#8592 Retour à la page d'accueil </a>
	</div>

    </div>
</body>

</html>