<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register - MPB</title>
    <link href="css/inscription.css" rel="stylesheet" type="text/css">
</head>


<body>
	<section id="main">
		<h1>Inscription</h1>
		<form method="POST" action="connect">
		<h3>Prénom</h3>
        <input id="boite" type="text" name="prenom" /><br />
        <h3>Nom</h3>
        <input id="boite" type="text" name="nom" /><br />
        <h3>Email</h3>
        <input id="boite" type="text" name="email" /><br />
        <h3>Pseudo</h3>
        <input id="boite" type="text" name="pseudo" /><br />
        <h3>Mot de passe</h3>
        <input id="boite" type="password" name="mdp" /><br />
        <h3>Confirmation du mot de passe</h3>
        <input id="boite" type="password" name="mdp2" /><br />
        <input id="connexion" type="submit" value="Inscription"/>
        </form>
	</section>
	
	<div>
		<a href="connect">Déjà inscrit ? Cliquez ici</a>
	</div>

	<div id="retour">
		<a id="retour" href="index"> &#8592 Retour à la page d'accueil </a>
	</div>
</body>

</html>